<div class="d-flex justify-content-center align-items-center">
    
    
<div class="card d-flex justify-content-center m-5" style="width: 18rem;">
    <%= image_tag "notebook-ge73a11861_1920.jpg", class:"align-items-center"%>
    <div class="card-body">
        <p class="card-text">Books</p>
        <hr>
        <%= link_to "Book Desk", books_path, class: "btn btn-dark"%>
    </div>
</div>

    
<div class="card d-flex justify-content-center" style="width: 18rem;">
    <%= image_tag "notepad-g84d09d242_1920.jpg", class:"align-items-center"%>
    <div class="card-body">
        <p class="card-text">Author</p>
        <hr>
    <%= link_to "Author", authors_path, class: "btn btn-primary active"%>
    </div>
</div>

<br />
</div>

